include ./mixins/navbar

doctype html
html
  head
    title Menu
    block styles
      link(rel='stylesheet' href='/public/css/main.css')
      link(rel="stylesheet" href="/public/css/bootstrap.min.css")
  body
    +nav(Menu, 'main_menu')
      +nav_item( '/' ) Home
      +nav_item( '/customers' ) Customer
      +nav_item( '/performers' ) Performer
      +nav_item( '/projects' ) Project
      +nav_item( '/projectInProgress' ) ProjectsInProgress
    div.main.container
        block content
    block scripts
        script(src="/public/js/jquery-3.1.1.min.js")
        script(src="/public/js/bootstrap.min.js")
        script(src='/public/js/main.js')