extends ../layout.pug

block content
  div(class='breadcrumb')
    div= title
  div.list-group
    div.list-group-item

      <h5><span class='glyphicon glyphicon-user'> <a href='/customer'> Customer</a></h5>
      <h5><span class='glyphicon glyphicon-briefcase'> <a href='/project'> Project</a></h5>
      <h5><span class='glyphicon glyphicon-ok'> <a href='/performer'> Performer</a></h5>
      <h5><span class='glyphicon glyphicon-time'> <a href='/project_in_progress'> Project_in_progress</a></h5>

     
