extends ../layout.pug

block prepend styles
  link(rel='stylesheet' href='//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css')

block content
  div(class='breadcrumb')
    li= title
  form(id='project_in_progress-add-form' name='project_in_progress-add-form' class='form-inline' action='')

    input(id='id' name='id' value='' class='form-control' type='hidden')
    p(class='text-danger' id='error-text')

    div(class='form-group')
      div(class='col-md-3')
        label(for='id') Project
      div(class='col-md-9')
        input(id='project' name='project' value='' class='form-control')

    div(class='form-group')
      div(class='col-md-3')
        label(for='id') Performer
      div(class='col-md-9')
        input(id='performer' name='performer' value='' class='form-control')

        div(class='form-group')
      div(class='col-md-3')
        label(for='id') Begin
      div(class='col-md-9')
        input(id='begin' name='begin' value='' class='form-control')

        div(class='form-group')
      div(class='col-md-3')
        label(for='id') End
      div(class='col-md-9')
        input(id='end' name='end' value='' class='form-control')

    div(class='form-group')
      div(class='col-md-12')
        button(id="form-button" type='submit' class='btn btn-primary') Create

    div.list-wrapper
      table(id='project_in_progress-list')

block append scripts
  script(src='/static/js/models/project_in_progress.js')
  script(src='//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js')
  script(src='/static/js/views/project_in_progress.js')
