extends ../layout

block content
    div(class='breadcrumb')
        h1 HOME
    div.list-group
        div.list-group-item
            span(class='list-icon')
            a(href='/customers') Customers
        div.list-group-item
            span(class='list-icon')
            a(href='/performers') Performers
        div.list-group-item
            span(class='list-icon')
            a(href='/projects') Projects
        div.list-group-item
            span(class='list-icon')
            a(href='/projectInProgresss') Projects in progress